# GitHub
GITHUB_TOKEN=

# Sanity
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2026-01-01
SANITY_API_TOKEN=

# Sanity Context
SANITY_ORGANIZATION_ID=
SANITY_ORGANIZATION_TOKEN=
SANITY_CONTEXT_DATASET_URL=
SANITY_CONTEXT_KB_URL=

# AI
GOOGLE_GENERATIVE_AI_API_KEY=